<section class="find-car">
  <div class="find-car-form">
    <div class="wrap">
      <h1>Encontre seu Porsche novo ou seminovo.</h1>
      <p>
        Ficou mais fácil encontrar o Porsche de seus sonhos. Digite sua
        localização e navegue pelas melhores ofertas de carros disponíveis perto
        de você.
      </p>
      <br />
      <label for="cep">Insira um local para sua busca</label>
      <div class="input">
        <input name="cep" type="text" placeholder="Digite a cidade ou o CEP" />
        <!-- icone de lupa de busca posicionado dentro do input -->
        <span
          class="material-symbols-outlined"
          style="
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          search
        </span>
      </div>
    </div>
  </div>

  <img
    class="find-car-image"
    src="https://images-porsche.imgix.net/-/media/3ECDD9AEFB684670A26CF40722AB1083_58DB8FB17A0F49B69A7632BB5B59B227_Enhanced-Finder_4-3?w=1173&q=85&auto=format"
  />
</section>
