<section class="hero">
  <div class="hero-content">
    <h1>Quando luxo e desempenho andam juntos</h1>
    <button>Descubra Mais</button>
  </div>
  <video autoplay loop muted #Video>
    <source src="../../../assets/videos/hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="video-controls">
    <button id="stop-video" type="button" (click)="stopVideoPlayer()">
      @if (isStopped) {
      <span class="material-symbols-outlined"> play_arrow </span>
      }@else {
      <span class="material-symbols-outlined"> pause </span>
      }
    </button>
  </div>
  <div class="hero-footer"></div>
</section>
