<section class="container">
  <h1>Modelos</h1>

  <div class="models-section">
    <div class="models">
      @for (model of models; track $index) {
      <div class="model-card">
        <img [src]="model.image" [alt]="model.name" />
        <span class="car-name">{{ model.name }}</span>

        <div class="model-card-footer">
          <span>{{ model.description }}</span>
          <div class="model-card-buttons">
            <button>Configurar o {{ model.name }}</button
            ><button>Todos os modelos {{ model.name }}</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
