<section class="container">
  <h1
    style="width: 100%; padding: 88px 68px; font-size: 45px; text-align: center"
  >
    Modelos
  </h1>

  <div class="models-section">
    <div class="models">
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">718</span>

        <div class="model-card-footer">
          <span
            >Dois lugares com alta dinâmica de condução graças ao seu motor
            central.</span
          >
          <div class="model-card-buttons">
            <button>Configurar o 718</button
            ><button>Todos os modelos 718</button>
          </div>
        </div>
      </div>
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">911</span>

        <div class="model-card-footer">
          <span
            >Icônico carro esportivo com motor montado na traseira e desempenho
            superior.</span
          >
          <div class="model-card-buttons">
            <button>Configurar o 911</button
            ><button>Todos os modelos 911</button>
          </div>
        </div>
      </div>
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">Taycan</span>

        <div class="model-card-footer">
          <span
            >Sedan esportivo totalmente elétrico com porta-malas dianteiro e
            traseiro.</span
          >
          <div class="model-card-buttons">
            <button>Configurar o Taycan</button
            ><button>Todos os modelos Taycan</button>
          </div>
        </div>
      </div>
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">Panamera</span>

        <div class="model-card-footer">
          <span>Sedan esportivo de luxo com quatro lugares.</span>
          <div class="model-card-buttons">
            <button>Configurar o Panamera</button
            ><button>Todos os modelos Panamera</button>
          </div>
        </div>
      </div>
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">Macan</span>

        <div class="model-card-footer">
          <span>SUV compacto com alta versatilidade.</span>
          <div class="model-card-buttons">
            <button>Configurar o Macan</button
            ><button>Todos os modelos Macan</button>
          </div>
        </div>
      </div>
      <div class="model-card">
        <img
          src="https://placehold.co/600x400/000000/FFFFFF/png"
          alt="Imagem do card"
        />
        <span class="car-name">Cayenne</span>

        <div class="model-card-footer">
          <span
            >SUV com até 5 assentos, mas antes de tudo, um carro
            esportivo.</span
          >
          <div class="model-card-buttons">
            <button>Configurar o Cayenne</button
            ><button>Todos os modelos Cayenne</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
