@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

header {
  padding: 15px;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-btn {
  position: absolute;
  top: 25px;
  left: 30px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
}

.menu-btn .material-symbols-outlined {
  color: white;
  font-size: 15px;
}

.menu-btn .menu-btn-text {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.logo {
  width: fit-content;
  padding: 10px;
  color: white;
  margin: 0 auto;
}

.letter-logo {
  width: 190px;
  height: 40px;
  margin: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  bottom: 115px;
  text-align: center;
  color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 145px;
}

.hero-content h1 {
  font-size: 85px;
  margin-bottom: 20px;
  font-weight: 500;
  width: 400px;
  text-align: start;
  line-height: 1.3;
}

.hero-content button {
  width: 250px;
  height: 54px;
  font-size: 16px;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-controls {
  position: absolute;
  bottom: 35px;
  right: 50px;
}

#stop-video {
  width: 52px;
  height: 52px;
}

#stop-video,
.hero-content button {
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  padding: 13px;
  transition: all 0.3s;
  border-radius: 3px;
}

#stop-video:hover,
.hero-content button:hover {
  background-color: grey;
  color: white;
  opacity: 0.6;
  border-color: whitesmoke;
}

.hero-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
}

// Content section
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 90px;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.card {
  position: relative;
  width: 350px;
  height: 265px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card-content {
  position: absolute;
  bottom: 15px;
  background-color: transparent;
  color: #fff;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-between;
}

.card-content p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
}

.card-content .material-symbols-outlined {
  font-size: 25px;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    background-color: grey;
  }
}

// Models section
.models-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.models {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  gap: 20px;
}

.model-card {
  position: relative;
  border: 1px solid #ddd;
  width: 550px;
  height: 725px;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .models {
    grid-template-columns: 1fr;
  }
}

.model-card .car-name {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 40px;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.model-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.model-card:hover img {
  transform: scale(1.1);
}

.model-card-footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-card-footer span {
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.model-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.model-card-buttons button:nth-child(1),
.model-card-buttons button:nth-child(2) {
  padding: 13px 26px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.model-card-buttons button:nth-child(2) {
  color: white;
  background-color: transparent;
}