<header>
  <div class="menu-btn">
    <span class="material-symbols-outlined"> menu </span>
    <span class="menu-btn-text"> Menu </span>
  </div>
  <div class="logo">
    <img
      src="../../../assets/images/svg/porshe-1.svg"
      alt="Porshe Logo"
      class="letter-logo"
    />
  </div>
</header>

<div class="hero">
  <div class="hero-content">
    <h1>Permaneça com sua essência.</h1>
    <button>O novo Macan 100% elétrico</button>
  </div>
  <video autoplay loop muted>
    <source src="../../../assets/videos/hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="video-controls">
    <button id="stop-video" type="button">
      <!-- <span class="material-symbols-outlined"> play_arrow </span> -->
      <span class="material-symbols-outlined"> pause </span>
    </button>
  </div>
</div>

<div class="content">Conteudo lorem</div>
