<header>
  <div class="menu-btn">
    <span class="material-symbols-outlined"> menu </span>
    <span class="menu-btn-text"> Menu </span>
  </div>
  <div class="logo">
    <img
      src="../../../assets/images/svg/porshe-1.svg"
      alt="Porshe Logo"
      class="letter-logo"
    />
  </div>
</header>

<section class="hero">
  <div class="hero-content">
    <h1>Permaneça com sua essência.</h1>
    <button>O novo Macan 100% elétrico</button>
  </div>
  <video autoplay loop muted #Video>
    <source src="../../../assets/videos/hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="video-controls">
    <button id="stop-video" type="button" (click)="stopVideoPlayer()">
      @if (isStopped) {
      <span class="material-symbols-outlined"> play_arrow </span>
      }@else {
      <span class="material-symbols-outlined"> pause </span>
      }
    </button>
  </div>
  <div class="hero-footer"></div>
</section>

<section class="content">
  <div class="card">
    <img
      src="https://placehold.co/600x400/000000/FFFFFF/png"
      alt="Imagem do card"
    />
    <div class="card-content">
      <p>O novo Macan 100% elétrico</p>
      <span class="material-symbols-outlined"> arrow_right_alt </span>
    </div>
  </div>
  <div class="card">
    <img
      src="https://placehold.co/600x400/000000/FFFFFF/png"
      alt="Imagem do card"
    />
    <div class="card-content">
      <p>O novo Panamera</p>
      <span class="material-symbols-outlined"> arrow_right_alt </span>
    </div>
  </div>
  <div class="card">
    <img
      src="https://placehold.co/600x400/000000/FFFFFF/png"
      alt="Imagem do card"
    />
    <div class="card-content">
      <p>718 Spyder RS</p>
      <!-- right arrow -->
      <span class="material-symbols-outlined"> arrow_right_alt </span>
    </div>
  </div>
</section>

<h1
  style="width: 100%; padding: 88px 68px; font-size: 45px; text-align: center"
>
  Modelos
</h1>

<section class="models-section">
  <div class="models">
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">718</span>

      <div class="model-card-footer">
        <span
          >Dois lugares com alta dinâmica de condução graças ao seu motor
          central.</span
        >
        <div class="model-card-buttons">
          <button>Configurar o 718</button><button>Todos os modelos 718</button>
        </div>
      </div>
    </div>
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">911</span>

      <div class="model-card-footer">
        <span
          >Icônico carro esportivo com motor montado na traseira e desempenho
          superior.</span
        >
        <div class="model-card-buttons">
          <button>Configurar o 911</button><button>Todos os modelos 911</button>
        </div>
      </div>
    </div>
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">Taycan</span>

      <div class="model-card-footer">
        <span
          >Sedan esportivo totalmente elétrico com porta-malas dianteiro e
          traseiro.</span
        >
        <div class="model-card-buttons">
          <button>Configurar o Taycan</button
          ><button>Todos os modelos Taycan</button>
        </div>
      </div>
    </div>
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">Panamera</span>

      <div class="model-card-footer">
        <span>Sedan esportivo de luxo com quatro lugares.</span>
        <div class="model-card-buttons">
          <button>Configurar o Panamera</button
          ><button>Todos os modelos Panamera</button>
        </div>
      </div>
    </div>
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">Macan</span>

      <div class="model-card-footer">
        <span>SUV compacto com alta versatilidade.</span>
        <div class="model-card-buttons">
          <button>Configurar o Macan</button
          ><button>Todos os modelos Macan</button>
        </div>
      </div>
    </div>
    <div class="model-card">
      <img
        src="https://placehold.co/600x400/000000/FFFFFF/png"
        alt="Imagem do card"
      />
      <span class="car-name">Cayenne</span>

      <div class="model-card-footer">
        <span
          >SUV com até 5 assentos, mas antes de tudo, um carro esportivo.</span
        >
        <div class="model-card-buttons">
          <button>Configurar o Cayenne</button
          ><button>Todos os modelos Cayenne</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="find-car">
  <div class="find-car-form">
    <div class="wrap">
      <h1>Encontre seu Porsche novo ou seminovo.</h1>
      <p>
        Ficou mais fácil encontrar o Porsche de seus sonhos. Digite sua
        localização e navegue pelas melhores ofertas de carros disponíveis perto
        de você.
      </p>
      <br />
      <label for="cep">Insira um local para sua busca</label>
      <div class="input">
        <input name="cep" type="text" placeholder="Digite a cidade ou o CEP" />
        <!-- icone de lupa de busca posicionado dentro do input -->
        <span
          class="material-symbols-outlined"
          style="
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          search
        </span>
      </div>
    </div>
  </div>

  <img
    class="find-car-image"
    src="https://images-porsche.imgix.net/-/media/3ECDD9AEFB684670A26CF40722AB1083_58DB8FB17A0F49B69A7632BB5B59B227_Enhanced-Finder_4-3?w=1173&q=85&auto=format"
  />
</section>

<!-- TODO: Social media stories section -->

<!-- TODO: Find section -->

<!-- TODO: Footer -->
