<footer>
  <div class="region">
    <div class="title-region">
      <h3>Região / Idioma Atual</h3>
    </div>
    <div class="country-region">
      <div class="country">Flag Brasil / Português</div>
      <div class="alter"><a>Alterar</a></div>
    </div>
  </div>

  <div class="contact-info">
    <div class="contact">
      <h3 class="contact-title">Contato</h3>
      <p>Perguntas?</p>
      <button>Formulário de Contato</button>
    </div>

    <div class="social-media">
      <h3 class="social-media-title">Redes Sociais</h3>
      <p>Entre em contato conosco através das mídias sociais.</p>
      <div class="social-media-buttons">
        <button class="facebook"></button>
        <button class="instragram"></button>
        <button class="pinterest"></button>
        <button class="youtube"></button>
        <button class="x"></button>
        <button class="linkedin"></button>
      </div>
    </div>
  </div>

  <div class="company">
    <div class="company-title">Empresa</div>
    <div class="company-content">
      <div class="first-grid">
        <ul>
          <li>Porsche num Relance</li>
          <li>Sustentabilidade</li>
          <li>Partner Forum</li>
          <li>Imprensa</li>
        </ul>
      </div>
      <div class="second-grid">
        <ul>
          <li>Porsche Brasil</li>
          <li>Empregos & Carreira</li>
          <li>Subsidiárias</li>
          <li>Contatos</li>
        </ul>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-row">
    <p>
      © 2024 Porsche Brasil Importadora de Veículos Ltda. Indicações Legais.
      Política de Privacidade. Compliance Porsche. Canal de Denúncia. Open
      Source Software Notice.
    </p>
  </div>
  <div class="footer-row">
    <p>
      * As informações encontradas neste site referentes ao Porsche Connect não
      se aplicam ao Brasil, já que o programa ainda não está disponível no
      mercado brasileiro. Para mais informações sobre os produtos disponíveis no
      Brasil entre em contato com o Porsche Center de sua preferência.
    </p>
  </div>

  <div class="footer-image-logo">
    <img
      src="../../../../assets/images/svg/porshe-logo-desktop.svg"
      alt="letters porshe logo"
    />
  </div>
</footer>
